.c_fileExplorer_wrapper {
	user-select: none;
	background-color: #252526;
	color: white;
	height: 100%;
	width: 100%;
	.dir {
		&.dragHover {
			background-color: #999;
		}
	}

	.file,
	.dir {
		cursor: pointer;
		& .item {
			padding: 2px 0;

			&:hover,
			&.active {
				background-color: #37373d;
			}
			display: flex;
			align-items: center;
		}
	}
}
