.c_fileExplorer_wrapper {
	user-select: none;
	background-color: #000;
	color: white;
	height: 100%;
	width: 100%;
	.dir {
		& > * {
			padding-left: 20px;
		}

        &.dragHover{
            background-color: #999;
        }
	}
}
