.c_fileExplorer_wrapper {
	user-select: none;
	background-color: #252525;
	color: white;
	height: 100%;
	width: 100%;
	.dir {
		.item~* {
			padding-left: 20px;
		}

        &.dragHover{
            background-color: #999;
        }
	}

	.file,
	.dir{
		& .item{
			display: flex;
			align-items: center;
		}
	}
}
